<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Collections.NET" version="1.14.0" targetFramework="net48" />
  <package id="EntityFramework" version="6.6.0-preview1-final" targetFramework="net4.8" />
  <package id="Microsoft.NETCore.Platforms" version="8.0.0-preview.7.23375.6" targetFramework="net4.8" />
  <package id="Microsoft.NETCore.Targets" version="6.0.0-preview.4.21253.7" targetFramework="net4.8" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net4.8" />
  <package id="runtime.native.System.Net.Http" version="4.3.1" targetFramework="net4.8" />
</packages>